{% extends 'base_footer.html' %}

{% block content %}

<h4>{{ theme.name }}</h4>
<div class="text-center">
    <img src="{{ theme.photo.url }}" alt="Фото" style="max-height: 500px; width: auto">
</div>
<p>Описание: {{ theme.description }}</p>

{% if request.user.is_authenticated %}
<h3 class="my-3">Написать комментарий</h3>
<form method="post">
    {% csrf_token %}
    {{ form.text }}
    <button type="submit" class="btn btn-primary mt-2">Отправить</button>
</form>
{% else %}
<p class="my-3">Необходимо <a href="{% url 'login' %}">авторизоваться</a>, чтобы оставлять комментарии</p>
{% endif %}
<h3 class="my-3">Комментарии</h3>
{% for comment in comments %}
<div class="border-top border-dark">
    <p class="mb-1"><span class="fst-italic">{{ comment.author }}</span>-<span
            class="text-muted">{{ comment.created_date }}</span></p>
    <p class="mb-1">{{ comment.text }}</p>
</div>
{% endfor %}


{% endblock %}
