{% extends 'base.html' %}

{% block content %}

<div class="mt-5">

    {% if 'reg' in request.get_full_path_info %}

    <h2 class="mb-5 text-center">Регистрация</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-sm-3 mx-auto form-floating mb-3">
            {{ field }}
            {{ field.label_tag }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="d-block mx-auto btn btn-primary col-sm-3">Регистрация</button>
    <p class="col-sm-3 mx-auto mt-3">У вас уже есть аккаунт?<a href="{% url 'login' %}"> Войти</a></p>
    </form>

    {% else %}

    <h2 class="mb-5 text-center">Авторизация</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-sm-3 mx-auto form-floating mb-3">
            {{ field }}
            {{ field.label_tag }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <p class="col-sm-3 mx-auto mt-3">Забыли <a href="{% url 'password_reset' %}">пароль</a>?</p>
        <button type="submit" class="d-block mx-auto btn btn-primary col-sm-3">Логин</button>
    </form>
    <p class="col-sm-3 mx-auto mt-3">У вас нет аккаунта?<a href="{% url 'reg' %}"> Зарегистрироваться</a></p>

    {% endif %}

</div>

{% endblock content %}
