{% extends 'base.html' %}
{% block content %}
<form class="ps-5 my-3" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="mb-3 col-12">
            Продукт: {{ product }}
        </div>
        <div class="mb-3 col-12">
            <label for="inputQuantity" class="col-form-label">Количество</label>
            <div style="width: 250px">
                {{ form.quantity }}
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Изменить</button>
</form>
{% endblock %}