<footer class="bd-footer bg-dark mt-3">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-5 text-center py-3 lh-lg">
                <a href="#" class="pe-4 link-secondary text-nowrap">О компании</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Контакты</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Реклама</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Тарифы</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Вакансии</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Манифест</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Пользовательское соглашение</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Публичные договоры</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Полтика конфиденциальности</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Поддержка пользователей</a>
                <a href="#" class="pe-4 link-secondary text-nowrap">Правила возврата</a>
            </div>
        </div>


    </div>
</footer>